.main {
  padding-top: 7vh;
  height: 93vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.missionwrapper {
  padding-top: 10vh;
  grid-area: 1 / 1 / 2 / 2;
}

.map {
  grid-area: 1 / 2 / 2 / 5;
  height: 93vh;
  z-index: 0;
}
